/*Original CSS file*/
html{
    background-color: rgba(179, 147, 21, .3) !important;
    margin-bottom: 50px;
}

header{
    text-align: center;
    font-family: 'Arial Black', 'Times New Roman', sans-serif;
    color: rgba(52, 78, 65, 1);
    background-color: rgba(31, 116, 120, .3);
}

h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}

h3{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    color: rgba(52, 78, 65, 1);
    background-color: rgba(31, 116, 120, .3);
}

h4, h5, h6{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    color: rgba(52, 78, 65, 1);
    background-color: rgba(31, 116, 120, .3);
    text-indent: 20px;
}

li{
    align-content: left;
    font-family:'Times New Roman', Times, serif;
    color: rgba(52, 78, 65, 1);
}

p{
    align-content: left;
    text-indent: 20px;
    font-family:'Times New Roman', Times, serif;
    color: rgba(52, 78, 65, 1);
}

header{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto;
}
.nameplate{
    grid-column: 2;
    grid-row: 1;
    display: block;
    margin: 20px;
}
.bioblurb{
    grid-column: 2;
    grid-row: 2;
    margin: 50px;
    padding: 5px;
    text-align: center;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: rgba(52, 78, 65, 1);
    background-color: rgba(31, 116, 120, .3); 
}

@media (max-width: 700px) {
    header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

.image{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1;
    grid-row: 1 / span 2;
}
