body {
    background-color: lightgoldenrodyellow
}
header{
    color: red;
}
h1{
    color: forestgreen
}
h2{
    color: forestgreen
}
p{
    color: forestgreen
}
li{
    color: forestgreen
}
image{
    height: 50;
    width: 504;
}